<h1>Your Profile</h1>
<button type="button" (click)="goBack()">Go Back</button>
<form [formGroup]="profileForm">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" class="form-control" formControlName="firstName" readonly>
    </div>

    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="lastName" id="lastName" class="form-control" formControlName="lastName" readonly>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control" formControlName="email" readonly>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="{{visibilityPassword}}" id="password" class="form-control" formControlName="password">
        <input type="checkbox" (click)="togglePasswordVisibilityOnclick()">Show Password
    </div>

</form>